numpy
pandas
statsmodels
matplotlib
seaborn
scikit-learn
requests
beautifulsoup4
lxml
plotly
jupyterlab
ipykernel
notebook
scipy
pytz
sqlalchemy
pymysql
pyodbc
openpyxl
xlrd
pyarrow
fastparquet
pyyaml
jsonschema
pytest  
torch
torchvision
transformers
flask
django  